@import "tailwindcss";

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  --color-headerYellow: #F4F7C8;
  --color-divBorderGreen: #E6DC17;
  --color-divBorderPurple: #3141CA;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-img{
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

/* .header-color-normal{
  color: #F4F7C8;
} */
